body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a2a2a2;
    display: flex;
    justify-content: center;
}

/* Container to center and add white space on the sides */
.container {
    max-width: 1200px; /* Adjust as needed */
    width: 100%;
    padding: 0 1rem; /* Add padding to the sides for extra space */
    background-color: #ffffff; /* Background color for the content area */
}

/* Header and Navbar */
header {
    background-color: #33c2ff;
    padding: 0.75rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

#searchInput {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #333;
    width: 12.5rem;
    transition: width 0.3s ease;
}

#searchInput:focus {
    width: 18.75rem;
}

.nav-right {
    display: flex;
    gap: 1.25rem;
}

.nav-right a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    transition: background-color 0.3s ease;
}

.nav-right a:hover {
    background-color: #555;
    border-radius: 0.33rem;
}

/* Categories */
.categorier {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    padding: 0.75rem;
    margin-top: 5.1rem;
    position: fixed;
    width: calc(100% - 8rem);
    z-index: 1000;
    background-color: #f0f0f0;
}

.categori-box {
    background-color: #555;
    padding: 2rem 2.5rem;
    border-radius: 0.5rem;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.categori-box:hover {
    background-color: #33c2ff;
    transform: scale(1.10);
}

/* Main content */
main {
    padding-top: 10rem;
}

/* Event banner */
.Event {
    margin-top: 2rem;
    display: flex;
    padding: 1rem;
    margin-bottom: 2rem;
}

.eventen {
    flex: 1;
    text-align: center;
    background-color: #f0f0f0;
    padding: 3rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
    height: 40rem;
}

.eventen a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    display: block;
    height: 100%;
    width: 100%;
}

.eventen:hover {
    background-color: #ffffff;
    transform: scale(1.01);
}

/* Top products */
.topprodukt {
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.produkt {
    flex: 1;
    text-align: center;
    background-color: #f0f0f0;
    padding: 3rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
    height: 30rem;
}

.produkt a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    display: block;
    height: 100%;
    width: 100%;
}

.produkt:hover {
    background-color: #ffffff;
    transform: scale(1.05);
}

/* Component section */
.component-section, .utstyr-section {
    padding: 1.25rem;
}

.component-section h1, .utstyr-section h1 {
    text-align: center;
    margin-bottom: 1.25rem;
    margin-top: 0.75rem;
    font-size: 2em;
    color: #ffffff;
    background-color: #33c2ff;
    border-radius: 0.75rem;
    padding: 0.75rem;
}

.component-grid, .utstyr-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.component-box, .utstyr-box {
    background-color: #f0f0f0;
    padding: 2.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.component-box:hover, .utstyr-box:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

/* Component shown section */
.componentshown-section, .utstyrshown-section {
    padding: 1.25rem;
}

.componentshown-grid, .utstyrshown-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
}

.componentshown-box, .utstyrshown-box {
    background-color: #f0f0f0;
    padding: 3.75rem;
    text-align: center;
    height: 12.5rem;
    display: flex;
    margin-top: 3.125rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.componentshown-box:hover, .utstyrshown-box:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

/* Build your PC section */
.Bygg-section {
    padding: 1.25rem;
}

.Bygg-section h1 {
    text-align: center;
    margin-bottom: 0.25rem;
    margin-top: 0.625rem;
    font-size: 2em;
    color: #ffffff;
    background-color: #33c2ff;
    border-radius: 0.625rem;
    padding: 0.625rem;
}

.Bygg {
    margin-top: 1rem;
    display: flex;
    padding: 1rem;
    margin-bottom: 2rem;
}

.Byggdin {
    flex: 1;
    text-align: center;
    background-color: #f0f0f0;
    padding: 3rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
    height: 10rem;
}

.Byggdin a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    display: block;
    height: 100%;
    width: 100%;
}

.Byggdin:hover {
    background-color: #ffffff;
    transform: scale(1.01);
}

/* Responsive design */
@media only screen and (max-width: 768px) {
    .navbar, .categorier {
        flex-direction: column;
    }

    .nav-right, .categorier {
        display: none;
    }

    .hamburger {
        display: block;
    }

    main {
        margin-left: 0;
    }

    .component-grid, .utstyr-grid, .componentshown-grid, .utstyrshown-grid {
        grid-template-columns: 1fr;
    }
}
