body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a2a2a2;
}

header {
    background-color: #33c2ff;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Plasserer elementene på hver sin side */
    align-items: center;
    
}

.nav-left, .nav-right {
    display: flex;
    gap: 20px;
}

.nav-left a, .nav-right a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    transition: background-color 0.3s ease;
}

.nav-left a {
    font-size: x-large;
}

.nav-left a:hover, .nav-right a:hover {
    background-color: #555;
    border-radius: 5px;
}

.topprodukt {
    display: flex;
    gap: 20px; /* Mellomrom mellom boksene */
    padding: 20px;
    justify-content: space-between; /* Fordeler boksene jevnt */
}

.produkt {
    flex: 1; /* Gjør hver boks like stor */
    text-align: center; /* Sentraliserer tekst i boksen */
    background-color: #f0f0f0; /* Lys grå bakgrunn */
    padding: 40px;
    border-radius: 10px; /* Runde hjørner */
    transition: transform 0.3s ease, background-color 0.3s ease;
    height: 500px;
}

.produkt a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    display: block;
    height: 100%; /* Gjør hele boksen klikkbar */
    width: 100%;
}

.produkt:hover {
    background-color: #ffffff; /* Endre bakgrunnsfarge ved hover */
    transform: scale(1.05); /* Gjør boksen litt større ved hover */
}

.produkt a:hover {
    color: #000;
}